.body
{

}

h1
{
    color: red;
    text-align: center;
    background-color: lightskyblue;
}

.center
{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.button {
    color: grey;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
  }